body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #10171d;
  color: #dfdfdf;

  .navbar {
    background-color: #1b2938;
  }

  a {
    color: darken($color: #007acc, $amount: 5%);
  }

  .dark-mode-toggle > button {
    color: #999;
    &:last-child {
      color: lightblue;
    }
  }
}
